
.navbar .nav-link{
    color: rgb(112, 112, 238);
    font-size: 20px;
}
.navbar .nav-link:hover{
    color: rgb(0, 68, 255) ;
}
.navbar .nav-link.active{
    color: rgb(0, 68, 255) ;
    font-weight: 500;
}
.wrapper{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 0 30px;
    border-radius: 5px;
}